/* Header Styles */

.header {
    padding: 10px;
    border: 2px solid #3498db;
    /* Adding a border with a blue color */
    margin: 0;
    background-color: #ecf0f1;
    /* Adding a light background color */
}

.HomeTag {
    background-color: #3498db;
    /* Example background color for Home */
    padding: 10px;
}


/* Style for AboutMe */

.AboutMeTag {
    background-color: #e74c3c;
    /* Example background color for AboutMe */
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}