/* Header Styles */

.HomeTag {
    background: linear-gradient(to bottom, #c2469f, #a9e04a);
    position: fixed;
    left: 540px;
    top: 20px;
    padding: 15px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    border-color: #7ddde8;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: medium;
}

.HomeTag:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}